<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Power BI Solution | Dobbs Data Consultants </title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
    <script src="../static/css/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body class="container-fluide body-container">
    
    <header class="border-bottom border-dark px-3 px-md-5 mb-2">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid para-font-fmly">
            <a class="navbar-brand pe-3 border-end border-2 border-dark" href="../index.html">
                <img src="../static/assets/logo.png" alt="Logo" class="logo">
            </a>
            <!-- Mobile Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                <i class="bi bi-menu-button-wide fs-3 text-primary"></i>
            </button>

            <!-- Collapsible Menu -->
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-3">
                <li class="nav-item ps-2">
                    <a class="nav-link fw-bold anchor-text" href="./d365.html">D365 Migration</a>
                </li>
                <li class="nav-item ps-2">
                    <a class="nav-link fw-bold anchor-text" href="./Cloud_Data_Integration.html">Cloud Data Integration</a>
                </li>
                <li class="nav-item ps-2">
                    <a class="nav-link fw-bold anchor-text" href="./Power_BI_Solution.html">BI Reporting</a>
                </li>
                </ul>
                <!-- Phone -->
                <div class="d-flex">
                <a class="anchor-text call-cont rounded-2 px-3 py-2 fw-bold" href="tel:+15616699526">
                    <i class="bi bi-telephone pe-2"></i> +1 (561) 669-9526
                </a>
                </div>
            </div>
            </div>
        </nav>
    </header>
    <section class="section-1">
        
        <div class="row d365-migration-parent mx-md-5 px-3 py-3">
            <div class="d365-migration-child-1 d-flex align-items-center col-sm-6 mb-3">
                <div>
                    <div class="fs-3 fw-bolder mb-3 scroll-animate title-font-fmly">​Transform Your Data into Actionable Insights with Power BI​</div>
                    <p class="mb-5 para-font-fmly">"Empower your business with custom dashboards, real-time analytics, and data-driven decision-making. We design Power BI solutions that turn complexity into clarity."</p>
                    
                    <div class="d-flex align-items-center gap-3 flex-wrap mt-md-5 para-font-fmly"><div class="me-5"><button class="btn btn-primary contact-cont rounded-pill px-4 py-2 fw-bolder"> <span><i class="bi bi-telephone pe-2 text-white"></i> </span>Book a Free Consultation</button></div>
                        <div><a class="anchor-text landing-call-cont-prime rounded-2 px-3 py-2 fw-bold text-dark" href="tel:+1561669-9526">
                            <span>
                                <i class="bi bi-telephone pe-3 text-primary"></i>
                            </span>
                            <span>+1 (561) 669-9526</span>
                    </a></div></div>
                </div>
            </div>
            <div class="d365-migration-child-2 col-sm-6 text-end">
                <img src="../static/assets/representation-user-experience.jpg" alt="" class="bi-hero-banner-img">
            </div>
        </div>
    </section>

    <section class="section-2 px-md-5 py-3 py-md-4">
        <div class="fs-1 text-white text-center mx-5 text-white fw-bolder mb-3 title-font-fmly">Why Power BI?</div>
        <p class="mb-3 para-font-fmly text-white text-center px-2" style="text-align: justify;">Power BI is a powerful business intelligence tool that helps organizations visualize data, uncover trends, and make informed decisions. Whether you're tracking KPIs, analyzing customer behavior, or forecasting performance, Power BI delivers the insights you need—fast. <br> We help you harness its full potential.</p>
        <div class="fs-3 text-primary text-center mx-5 fw-bolder title-font-fmly">Our Power BI Services</div>
        <div class="mt-3 text-white para-font-fmly text-center mb-4 px-2">We offer tailored Power BI solutions that align with your business goals</div>

        <div class="row mx-2 mx-md-5">

            <div class="col-sm-6 para-font-fmly mb-3">
                <div class="fw-bolder fs-5 text-white solution-head mb-2"><i class="bi bi-layout-text-window me-2 text-primary"></i> Dashboard Design & Development</div>
                <div class="text-white solution-cont">Custom dashboards built to highlight the metrics that matter most to your business.</div>
            </div>
        
            <div class="col-sm-6 para-font-fmly mb-3">
                <div class="fw-bolder fs-5 text-white solution-head mb-2"><i class="bi bi-code-slash me-2 text-primary"></i> Data Modeling & Transformation</div>
                <div class="text-white solution-cont">Clean, structure, and optimize your data for accurate and efficient reporting.</div>
            </div>
        
        </div>

        <div class="row mx-2 mx-md-5">
        
            <div class="col-sm-6 para-font-fmly mb-3">
                <div class="fw-bolder fs-5 text-white solution-head mb-2"><i class="bi bi-server me-2 text-primary"></i> Integration with Data Source</div>
                <div class="text-white solution-cont">Connect Power BI to Excel, SQL, cloud platforms, CRMs, ERPs, and more.</div>
            </div>

            <div class="col-sm-6 para-font-fmly mb-3">
                <div class="fw-bolder fs-5 text-white solution-head mb-2"><i class="bi bi-speedometer2 me-2 text-primary"></i> Real-Time Reporting & Analytics</div>
                <div class="text-white solution-cont">Monitor performance and trends with live data updates and interactive visuals.</div>
            </div>
        </div>

    </section>

    <section class="section-3">
        <div class="fs-1 text-dark text-center fw-bolder mb-2 mb-md-5 title-font-fmly pt-3 pt-md-5 pb-md-3">Our Global Impact</div>
        <div class="row mx-2 mx-md-5">
            <div class="col-sm-6">
                <div class="d-flex align-items-center mb-3">
                    <div>
                        <div class="fs-3 text-primary text-center fw-bolder title-font-fmly">What You Gain</div>
                        <ul class="mt-4 unlock-points-cont para-font-fmly">
                            <li class="d-flex align-items-start mt-2"><span class="me-3"><i class="bi bi-send text-primary"></i></span></i><span>Zero downtime during migration</span></li>
                            <li class="d-flex align-items-start mt-2"><span class="me-3"><i class="bi bi-send text-primary"></i></span><span> Improved system performance and scalability</span></li>
                            <li class="d-flex align-items-start mt-2"><span class="me-3"><i class="bi bi-send text-primary"></i></span><span>Enhanced user experience and productivity</span></li>
                            <li class="d-flex align-items-start mt-2"><span class="me-3"><i class="bi bi-send text-primary"></i></span><span>Future-ready digital infrastructure</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 impact-cont">
                <div class="text-end">
                    <img src="../static/assets/futuristic-technology-concept.jpg" alt="" class="impact-img">
                </div>
                <div class="bg-primary col-10 col-lg-7 impact-parent py-4">
                    <div class="d-flex justify-content-between align-items-center impact-child-1 bg-white mx-4 px-3 py-2 mb-3 para-font-fmly">
                        <div class="fw-bold">Successful Implementations</div>
                        <div class="text-center fw-bold">700+</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center impact-child-1 bg-white mx-4 px-3 py-2 mb-3 para-font-fmly">
                        <div class="fw-bold">Average Customer ROI</div>
                        <div class="text-center fw-bold">53%</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center impact-child-1 bg-white mx-4 px-3 py-2 mb-3 para-font-fmly">
                        <div class="fw-bold">Increase In Forcast Accuracy</div>
                        <div class="text-center fw-bold">40%</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center impact-child-1 bg-white mx-4 px-3 py-2 para-font-fmly">
                        <div class="fw-bold">Office Worldwide</div>
                        <div class="text-center fw-bold">7</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="landing-page-section-5 px-2 px-md-5 mb-5 mt-3 pt-1">
        <div>

            <div class="row mt-5">
                <div class="col-md-5">
                    <img src="../static/assets/laptop-computer-with-company-profit-progress-screen.jpg" alt="" class="w-100 rounded-3">
                </div>
                <div class="col-sm-7">
                    <div class="fs-1 fw-bolder mt-3 title-font-fmly">Success Stories</div>
                    <div class="fs-5 fw-bolder mt-3">Story Title</div>
                    <div class="mt-3 para-font-fmly" style="text-align: justify;">Stories....</div>

                    <div class="d-flex align-items-center gap-3 flex-wrap mt-md-5 para-font-fmly"><div class="me-5"><a class="btn btn-primary rounded-pill contact-cont px-4 py-2 fw-bolder"> <span><i class="bi bi-telephone pe-2 text-white"></i> </span>Book a Free Consultation</a></div>
                    <div><a class="anchor-text landing-call-cont-prime rounded-2 px-3 py-2 fw-bold text-dark" href="tel:+1561669-9526">
                        <span>
                            <i class="bi bi-telephone pe-3 text-primary"></i>
                        </span>
                        <span>+1 (561) 669-9526</span>
                    </a></div></div>
                </div>
            </div>
        </div>
    </section>
        
    <section class="integ-landing-page-section-6 pt-4 pb-5 px-3 px-md-5 align-items-start">
        <div class="">
            <div class="fs-1 fw-bolder text-white title-font-fmly">Our Dynamics 365 Migration Experts</div>
            <ul class="mt-4 unlock-points-cont para-font-fmly">
                <li class="d-flex align-items-start mt-3"><span class="me-3"><i class="bi bi-send text-primary"></i></span></i><span class="text-white"> Building custom dashboards tailored to business KPIs</span></li>
                <li class="d-flex align-items-start mt-3"><span class="me-3"><i class="bi bi-send text-primary"></i></span><span class="text-white"> Modeling and transforming data for accurate reporting</span></li>
                <li class="d-flex align-items-start mt-3"><span class="me-3"><i class="bi bi-send text-primary"></i></span><span class="text-white"> Integrating Power BI with diverse data sources like SQL, Excel, and cloud platforms</span></li>
                <li class="d-flex align-items-start mt-3"><span class="me-3"><i class="bi bi-send text-primary"></i></span><span class="text-white"> Delivering real-time analytics and interactive visualizations</span></li>
            </ul>
            <div class="mt-3 text-white para-font-fmly" style="text-align: justify;">From executive dashboards to department-specific reports, our team helps you turn data into decisions with clarity and confidence.</div>
        </div>
    </section>

    <section class="section-4 d-flex justify-content-center">
        <div class="reach-us-parent-bi col-sm-12 shadow px-3 pt-5 pb-4">
            
            <h4 class="text-white title-font-fmly">Reach out to us today to know more!</h4>
            <div class="d-flex align-items-center gap-3 flex-wrap mt-md-5 para-font-fmly"><div class="me-5 mb-1"><button class="btn btn-primary contact-cont rounded-pill px-4 py-2 fw-bolder"> <span><i class="bi bi-telephone pe-2 text-white"></i> </span>Book a Free Consultation</button></div>
            <div class="me-5 mb-1"><a class="anchor-text border border-2 border-white rounded-2 px-3 py-2 fw-bold" href="tel:+1561669-9526">
                <span>
                    <i class="bi bi-telephone pe-3 text-white"></i>
                </span>
                <span class="text-white">+1 (561) 669-9526</span>
            </a></div>
            <div class="mb-1"><a class="anchor-text px-3 py-2 fw-bold border border-2 border-white" href="mailto:bendobbs@gmail.com">
                <span class="me-2">
                    <i class="bi bi-envelope-fill text-white"></i>
                </span>
                <span class="text-white">bendobbs@gmail.com</span>
            </a></div></div>
        </div>
    </section>


    <div class="contact-popup-cont">
        <div class="text-end"><i class="bi bi-x-square contact-close-btn me-4 mt-4"></i></div>
        <div class="d-flex justify-content-center mt-4">
            <iframe src="https://tidycal.com/cjdobbs/talk-to-dobbs-data-for-your-d365-needs?embed=1#powered_by_footer" id="tidycal-embed-zha2v" class="tidycal-embed" title="TidyCal" scrolling="yes" style="border: none; width: 75%; overflow: hidden; min-height: 550px;"></iframe>
        </div>
    </div>

    <footer class="footer px-3 pt-3 pb-1 para-font-fmly">
        <h6 class="text-secondary mb-3 mt-2">© Dobbs Data Consultants 2024. All rights reserved.</h6>
        <h6 class="text-secondary">The content available on this website is owned by us and our licensors. Copying any content, including images, without our consent is prohibited.</h6>
    </footer>

    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/script.js"></script>
</body>
</html>